* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
  color: #111;
}

button,
input,
textarea,
select {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  color: #111;
}

input::placeholder,
textarea::placeholder {
  color: #777;
}


button:not(.ong-profile-circle):not(.profile-close),
.profile-back-button,
.register-text a,
.login-link a {
  border: none;
  border-radius: 10px;
  padding: 12px 22px;

  font-size: 15px;
  font-weight: 800;

  cursor: pointer;
  text-decoration: none;

  transition: transform 0.2s ease, filter 0.2s ease, box-shadow 0.2s ease;
}

button:not(.ong-profile-circle):not(.profile-close):hover,
.profile-back-button:hover,
.register-text a:hover,
.login-link a:hover {
  transform: scale(1.06);
  filter: brightness(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}